<div id="env" class="tab-pane well">
  <fieldset>
    <legend>Environment Variables</legend>
    <p>
      Set custom environment variables to be exported for your
      test runs. This can be useful for storing configuration
      outside of version control.
    </p>
    <table class="table">
      <thead>
        <tr>
          <th>Key</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="(key, value) in config">
          <td>[[ key ]]</td>
          <td>[[ value ]]</td>
          <td class="remove">
            <span class="clickable" ng-click="del(key)">
              <i class="fa fa-remove" alt="remove"></i>
            </span>
          </td>
        </tr>
        <tr>
          <td><input ng-model="newkey" placeholder="New Key" type="text"></td>
          <td><input ng-model="newvalue" placeholder="New Value" type="text"></td>
          <td><button ng-click="add()" class="btn btn-success">Add</button></td>
        </tr>
        <tr>
          <td>Select a .env file: <input type="file" fileread="parsedenv.src"></td>
          <td><span ng-bind="filereadstatus"></span></td>
          <td><button ng-click="upload()" class="btn btn-primary">Upload</button></td>
        </tr>
      </tbody>
    </table>
  </fieldset>
</div>
