<div id="env" class="tab-pane well">
  <fieldset>
    <div class="loading pull-right" ng-show="loading > 0">
      <i class="icon-spin icon-cog"></i>
    </div>
    <legend>Environment Variables</legend>
    <p>
      Set custom environment variables to be exported for your
      test runs. This can be useful for storing configuration
      outside of version control.
    </p>
    <div class="row-fluid">
      <div class="span8">
        <table class="table">
          <thead>
            <tr>
              <th>Key</th>
              <th>Value</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="vbl in env">
              <td>[[ vbl.key ]]</td>
              <td>[[ vbl.value ]]</td>
              <td class="remove">
                <span class="clickable" ng-click="remove(vbl)">
                  <i class="icon-remove" alt="remove"></i>
                </span>
              </td>
            </tr>
            <tr ng-hide="env.length">
              <td colspan="3">No environment variables defined</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="span4">
        <div class="control-group">
          <div class="controls">
            <div class="input-append">
              <input ng-model="new_key" type="text" placeholder="Key e.g. MONGODB_URI" class="span11"/>
              <input ng-model="new_val" type="text" placeholder="Value" class="span11"/>
            </div>
            <button class="btn" ng-click="add()">Add</button>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
</div>
