div#confirm-remove-env-modal.modal.fade
script.template#confirm-remove-env-template(type="text/template")
  div.modal-header
    button.close(data-dismiss="modal")x
    h3 Remove <%= key %>
  div.modal-body
    p Are you sure you want to remove <%= key %> environment variable from  <%= display_name %>?
  div.modal-footer
      a.btn(data-dismiss="modal") No
      a.btn.btn-primary Yes, I'm sure

script.template#env-none(type="text/template")
  tr
    td
      p No environment variables configured.


script.template#env-loading(type="text/template")
  tr
    td
      p Loading environment variables...

script.template#env-header(type="text/template")
  tr
    th
      | Key
    th
      | Value

script.template#env-table-row(type="text/template")
  tr
    td
     | <%= key %>
    td
     | <%= value %>
    td
     | <a data-toggle="modal" href="#confirmRemoveEnv">
     |   <i class="icon-remove" id="<%= uuid %>" alt="remove"></i>
     | </a>

#env.tab-pane.widget(data-widget="/ext/strider-env/env.js")
  .span8
    .well
      fieldset
        legend Environment Variables
        div.alert.alert-success.hide
        p Set custom environment variables to be exported for your test runs. This can be useful for storing configuration outside of version control.
        .row
          .span6
            table.table
          .span2
            .control-group
              .controls
                .input-append
                  input.env-key.span2(type='text', placeholder="Key e.g. MONGODB_URI")
                  input.env-val.span2(type='text', placeholder="Value")
                button.btn.btn-add-env Add
